[submodule "image-converter-frontend"]
	path = image-converter-frontend
	url = git@github.com:sigfriedCub1990/image-converter-frontend.git
[submodule "converter-microservice"]
	path = converter-microservice
	url = git@github.com:sigfriedCub1990/processing-microservice.git
